/* Basic page style resets */
* {
  box-sizing: border-box;
}

:root {
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;
  --gray-10: #16191d;
  --gray-11: #0d0f12;
  --gray-12: #030507;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: arial, helvetica, sans-serif;
  background-color: #4b7730;
  color: white;
}

a {
  color: #dee2e6;
}

main {
  display: grid;
  place-items: center;
  max-width: 640px;
  margin: 0 auto;
  line-height: 2rem;
}

h1 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 4em;
  line-height: 105%;
  color: white;
}

p {
  text-align: center;
  font-size: 1.6em;
}

#dropZone, #sec_dropZone {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 20px;
  margin-bottom: 20px;
  padding: 1rem;
}

#words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  min-height: 20px;
  margin-bottom: 20px;
  padding: 1.5rem;
  padding: 20px;
  border-radius: 10px;
}


.droppable {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  justify-content: center;
  align-items: center;
  /*  height: 60px; 
  width: 150px;*/
  border: 1px solid #aaaaaa;
  padding: 1rem;
}

#meaning {
  max-width: 960px;
  display: grid;
  place-items: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


#settings {
  text-align: center;
  display: grid;
  place-items: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

span:after {
  content: "";
  display: inline-block;
  width: 6px;
}

button {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border: 0;
  border-radius: 50px;
  font-size: 1.6em;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
}

.rocket {
  display: block;
  width: 60px;
  height: 34px;
  margin-left: 20px;
  background: url(rocket.png)
    right center no-repeat;
  background-size: 60px;
}

.started .rocket {
  animation: zoomOutRight 1s;
  animation-iteration-count: 1;
  transform-origin: right center;
}

.started button:before {
  content: "re";
}

.button:hover .rocket {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#typedValue {
  width: 360px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-size: 2em;
  border: 0;
  border-radius: 10px;
  box-shadow: inset 1px 0px 5px 4px rgba(0, 0, 0, 0.2);
}

.congrats {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  color: #ffc312;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes zoomOutRight {
  100% {
    opacity: 0;
    transform: scale(0.1) translate(500px, 0);
  }
}

/*  Glitch remix button styles*/
/* Navigation grid */
.footer {
  position: absolute;
  bottom: 30px;
}

.btn--remix {
  background: white;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  color: #333333;
}

.btn--remix:hover {
  background: #ffc312;
}

.winner {
  background-image: url(confetti.gif);
}

.img {
  display: grid;
  align-items: center;
  place-items: center;
  margin: 0 auto;
  padding: 20px;
  filter: grayscale(50%);
  max-width: 350px;
}

.img:hover {
  filter: grayscale(0%);
}

footer {
  padding: 4rem;
  display: grid;
  place-items: center;
  align-items: center;
}

.draggable {
  display: inline-block;   /* Ensures words are displayed side by side */
  cursor: grab;
  padding: 5px 10px;
  border-radius: 5px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.draggable:active {
  cursor: grabbing;
  transform: scale(1.1); /* Slightly enlarge when dragging */
  background-color: #c64c4c;
}

#words .draggable {
    margin: 1em;
}

.draggable span {
  background-color: var(--gray-5);
  background-color: #dd5555;
  border-radius: 5px;
/*   margin: 0.5em; */
  padding: 0em;
}

.draggable:hover {
  opacity: 0.7;
}

.draggable.dragged {
  opacity: 0.3;
  cursor: grabbing;
}

.droppable {
  outline: 3px dotted var(--gray-10);
  /* background-color: var(--gray-3); */
  color: white;
}

.droppable.droppable-hover {
  outline-width: 4px;
  background-color: var(--gray-6);
}

.droppable.dropped {
  outline: 2px solid var(--gray-8);
  color: black;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555555;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
